@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-color: #ffe000; */
    height: 100dvh;
  }
body, input {
    font-family: "Poppins", sans-serif;
    /*background: #eae7d6;*/
}
button ,a
{
cursor: pointer;
}
.popup_container
{
background-color: #fff;
position: relative;
}
.pop_close
{
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #ffe000;
        color: #000;
        border-radius: 25px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
}


.rk_popup {
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 1;
    height: 100dvh;
    overflow: hidden auto;
    background: #fff;
}
.main_page_login_section {
    position: relative;
    height: 100vh;
    padding: 50px 50px 0px 44px;
}
.titt_sign
{
    text-align: center;
    color: #444;
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 700;
}
.input_con
{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #aaa;
}
.input_con input
{
width:100%;
height: 40px;
border: none;
font-size: 18px;
font-weight: 600;
padding-left: 30px;
}
.input_con input::placeholder{
    color: #aaa;
}
.user_icon i
{
    color:#aaa;
    font-size: 20px;

}
.user_icon i.email_icon
{
    font-size: 16px;
}

.reg-button
{
    background-color: #ffe000;padding: 16px 56px;color:#000;font-size: 14px;font-weight: 700;text-transform: uppercase;border-radius: 25px;border: none;line-height: 1;border: 2px solid transparent;
}

.btn_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.bottom_cont {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    background-color: #ffe000;
    height: 170px;
    border-radius: 0px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
}

.bc_signin
{
    padding: 14px 40px;font-size: 15px;font-weight: 600;border-radius: 25px;margin-top: 10px;color:#000;border: 2px solid #000;background: transparent;text-transform: uppercase;
}

.bc_h2
{
    color:#000 !important;
    text-align: center;
}

.bc_p
{
    color:#000;
    text-align: center;
    font-size: 11px;
}

.user_icon
{
    position: absolute;
    left: 44px;
}

.main_page_login_section.login_section
{
    padding: 0px !important;
}

.login_section .fields
{
    padding: 0px 50px 0px 44px;
}

.pc_box_shadow
{
    box-shadow: 0px 1px 8px #5a6468;
}

.top_cont
{
    background-color: #ffe000;
    height: 180px;
    border-radius: 0px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
}

.mtop_100
{
    margin-top: 60px;
}
textarea:focus, input:focus{
    outline: none;
}
.header
{
    padding:12px 12px 12px 12px;
    box-shadow: 0px 3px 9px #cbcaca;
    background: white;
    position: sticky;
    top:0px;

}
.header_con
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.acc_sec{
    position: absolute;
    right: 5px;
}
.main_logo a{
    display: flex;
}
.main_logo img
{
    max-width: 112px;
}
.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 85px 0px;
    /* background: #eae7d6; */
}
.mc_main_banner
{
    font-family: "Poppins", sans-serif;

}
.mc_main_banner img
{
    max-width: 170px;
}
.mc_sw_p
{

font-size: 23px;

color: #5e5f60;

text-transform: capitalize;
}
.mc_p
{

padding-top: 8px;

font-size: 28px;

color: #736a6a;
}
.choose_btn
{
padding: 13px 25px;
background:  #ffe000;
cursor: pointer;
font-size: 14px;
font-weight: 700;
text-transform: capitalize;
max-width: 150px;
text-align: center;
margin: 0 auto;
border: none;
border-radius: 5px;
margin-top: 30px;
}
.choose_btn a{
    color:#000 !important;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
    right: -6px;
    top: 44px;
  }
  #exp_myDropdown.dropdown-content

  {
    right: 15px;
    top: 139px;
    min-width: 90px;
  }
  #exp_myDropdown.dropdown-content a
  {
    padding: 4px 8px;
    font-size: 13px;
    border-bottom: 1px solid #dadada;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
  .bf_login_con
  {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

  }
  .btncon_reg
  {
    padding: 7px 15px;
    background-color: #ffe000;
    color: #000;
    font-size: 15px;
    border: none;
    border-radius: 5px;

  }
  .btncon_log
  {
        padding: 7px 15px;
        background-color: #000;
        color: #d2be2d;
        font-size: 15px;
        border: none;
        border-radius: 5px;
  }


  .lp_sw_p
{
font-size: 24px;
color: #000;
text-transform: capitalize;
}
.lp_p
{
    padding-top: 8px;
    font-size: 19px;
    color: #0ab10a;
    font-weight: 700;
    line-height: 1;
}
.lp_choose_btn
{
    padding: 16px 35px;
    background: #ffe000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    width: 180px;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 24px;
    margin-top: 30px;
}

.lp_choose_btn a{
    color: #000 !important;
    text-decoration: none;
}

.lp_main_banner
{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lp_main_banner img
{
width: 180px;
}

.tic_container
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:15px;
padding: 10px 15px;


}
.tic_container  .ticket_select
{
    background-color: #fff;
    padding: 15px 25px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}
.tic_container  .tic_container_p{
    text-decoration: none;
    color: #000  !important;
    cursor: pointer;
    font-size: 33px;
    font-weight: 700;
}
.tic_container_p i{
    font-size: 30px;
    font-weight: 500;
}
.tc_main_con
{
    background: transparent;
    /* margin-top: -2px; */
    padding-top: 0px;
}
.tc_h1
{
    color: #000 !important;
    font-size: 17px;

}
.ticket_select.active
{
    background-color: #ffe000;
}

.tic_details_con
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 4px 3px;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
}
.col_md_8
{
    width: 60%;
}

.col_md_8 input[type="number"]{
    text-align: center;
    font-size: 15px;
}

.col_md_2
{
    width: 30%;
}

.col_md_2 input[type="number"]{
    text-align: center;
    font-size: 15px;
}

.col_md_1
{
    width: 10%;
}

.tic_details_con input{
width: 100%;
padding: 10px 5px;
border-radius: 5px;
font-size: 12px;
border: 2px solid #000;
}
.tic_details
{
    color:#000;
    text-align: center;
    margin-top: 16px;
}
.ticdet_p
{
    font-size: 14px;
    font-weight: 700;
}
.tic_dt_min_height
{
    min-height: 330px;
    max-height: 400px;
    overflow-y: scroll;

}
.payment_sec_head
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 13px 15px;
    text-align: center;
    z-index: 2;
}
.payment_h1
{font-size: 20px;}
.icon_arr
{position: absolute;
    left: 15px;
    top: 8px;
    font-size: 26px;
    color: #000;
    text-decoration: none;
}
.clc_timer
{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    margin-bottom: 30px;
}
.summ_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    background-color: #ffe000;
    border-radius: 20px;
    padding: 34px 4px;
    flex-direction: column;
}
.sum_label
{
    color: #361a1a;
    font-size: 15px;
    font-weight: 500;
}
.nc_p
{
    font-size: 25px;
    font-weight: 500;
    color: #000;
}
.pw_p
{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.totalsumm_con
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    background-color: #ffe000;
    border-radius: 20px;
    padding: 11px 4px;
    flex-direction: column;
    margin-top: 15px;

}
.total_summ_p
{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;

}
.summ_inr_con
{

font-weight: 600;

font-size: 25px;
}
.summ_inr_con i.fa.fa-inr {
    font-size: 22px;
    padding-right: 2px;
}
.summary_choose_btn
{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        margin: 0px auto;
        background-color: #000;
        border-radius: 20px;
        padding: 18px 4px;
        flex-direction: column;
        margin-top: 30px;
        border: none;
        margin-top: 50px;
        width: 90%;
        color: #ffe000 !important;
        border: 2px solid #000;
        font-weight: 700;
        font-size: 25px;

}
.summary_choose_btn a{

    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
}
.header_con.flex_start
{
justify-content: flex-start  !important;
}

.hm_bottom_cont {
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    /* background-image: url(/img/wave.svg);
    background-repeat: no-repeat; */
}
.betting_container_rk {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    background: #ffe000;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
}
.betting_section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.betting_section.head_sec
{
text-align: center;
font-weight: 700;
}
.bs_col_md_1
{
    width: 33.333%;
    border: 1px solid black;
}
.bs_col_md_1 p{
        font-size: 16px;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
.del_icon
{
    color: red;
}
.td_btn_con
{
display: flex;
justify-content: center;
align-items: center;
padding: 10px 5px 5px 15px;

}
.td_btn_con .td_btn
{
    padding: 8px 15px;
    background-color: #ffe000;
    color: #000;
    font-size: 13px;
    text-transform: capitalize;
    width: 100px;
    border: 2px solid #000;
    border-radius: 4px;
    FONT-WEIGHT: 600;
}

.next_btn .td_btn
{
    width: 220px;
    border-radius: 24px;
    padding: 17px 15px;
    background-color: #000;
    color: #ffe000;
}
.rk_popup.success_popup .main_container
{
height:100%;
padding: 0px 5px 5px 0px;
}
.money_icon,.ticket_select1
{
    padding: 0px  !important;
}
.money_icon
{
    position: absolute;
    left: 10px;
    top:5px;
}
.money_icon img
{
    max-width: 45px;
    padding: 0px  !important;
}
.top.--flex-column
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

 a
{
text-decoration: none  !important;
}
.bottom
{
color:#000;
}

.container {
    background-color: #D7CCC8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .card {
    background-color: #fff;
    max-width: 800px;
    box-shadow: 2px 2px 5px #9E9E9E, -1px -1px 5px #9E9E9E;
    border-radius: 6px;
    display: grid;
    grid-template-column: repeat(5, 1fr);
      width:90%;
      margin: 10px auto;
      padding: 4px 0px;
  }
  .card .img-container {
    padding: 10px;
    width: 20%;
    position: relative;
    /*grid-column: 2;*/
  }
  .cart_status
  {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #00000033;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;

  }
  .cart_status   img
  {
    width:25px;
  }
  .card-content {
    /*grid-column: 3 / 5;*/
    padding:4px 7px;
    border-left: 1px solid #ccc;
      width:70%;
      text-align:left;
  }
  .excerpt
  {
font-size: 10px;
      line-height: 1.5;
  }
  .card-content .author {

    font-weight: 700;
    margin-top: 25px;
    padding: 25px 0 10px 0;
    color: #555;
      text-align: left;
  }

  @media only screen and (max-width:600px) {
    .card {
      display: flex;
    }
    .card .img-container {
      /* height: 100px; */
      /*width: 20%;*/
    }
    .card-content {
      border: 0;
      /*border-top: 1px solid #ccc;*/
      /*width: 80%;*/
    }
  }
@media only screen and (max-width: 359px) {
    .titt_sign
    {
        font-size: 25px;
    }
    .input_con input
    {
        font-size: 15px;
    }

    .user_icon i
    {
        font-size: 16px;
    }
    .input_con
    {
        margin-top: 7px;
    }
    .btn_container
    {
        margin-top: 30px;
    }
    .bottom_cont
    {
        padding: 10px 20px;
    }
    .bc_signin
    {
        padding: 9px 40px;
        font-size: 13px;
    }
    .main_logo img
    {
        max-width: 100px;
    }
  }




@media only screen and (max-width: 427px) {
    .titt_sign
    {
        font-size: 25px;
    }
    .input_con input
    {
        font-size: 15px;
    }

    .user_icon i
    {
        font-size: 16px;
    }
    .input_con
    {
        margin-top: 12px;
    }
    .btn_container
    {
        margin-top: 30px;
    }
    .bottom_cont
    {
        padding: 10px 20px;
        height: 156px;
    }
    .bc_signin
    {
        padding: 9px 40px;
        font-size: 13px;
    }
  }



@media only screen and (max-width: 699px) {

    .titt_sign
    {
        font-size: 25px;
    }
    .input_con input
    {
        font-size: 15px;
    }

    .user_icon i
    {
        font-size: 16px;
    }
    .input_con
    {
        margin-top: 12px;
    }
    .btn_container
    {
        margin-top: 30px;
    }
    .bottom_cont
    {
        padding: 10px 20px;
        height: 156px;
    }
    .bc_signin
    {
        padding: 9px 40px;
        font-size: 13px;
    }
  }

  @media only screen and (min-width: 768px) {
    .input_con
    {
        margin-top: 11px;
    }
    .btn_container
    {
        margin-top: 15px;
    }

  }


  body widget {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  }
  body widget[type=ticket] {
    width: 90%;
margin: 0 auto;
  }
  body widget[type=ticket] .top > div,
  body widget[type=ticket] .bottom > div {
    padding: 0 18px;
  }
  body widget[type=ticket] .top > div:first-child,
  body widget[type=ticket] .bottom > div:first-child {
    padding-top: 18px;
  }
  body widget[type=ticket] .top > div:last-child,
  body widget[type=ticket] .bottom > div:last-child {
    padding-bottom: 18px;
  }
  body widget[type=ticket] .top img,
  body widget[type=ticket] .bottom img {
    padding: 18px 0;
  }
  body widget[type=ticket] .top,
  body widget[type=ticket] .bottom,
  body widget[type=ticket] .rip {
    background-color: #fff;
  }
  body widget[type=ticket] .top {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  body widget[type=ticket] .top .deetz {
    padding-bottom: 10px !important;
  }
  body widget[type=ticket] .bottom {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 18px;
    height: 30px;
    padding-top: 0px;
  }
  body widget[type=ticket] .bottom .barcode {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAABCAYAAABXChlMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAACPSURBVChTXVAJDsMgDOsrVpELiqb+/4c0DgStQ7JMYogNh2gdvg5VfXFCRIZaC6BOtnoNFpvaumNmwb/71Frrm8XvgYkker1/g9WzMOsohaOGNziRs5inDsAn8yEPengTapJ5bmdZ2Yv7VvfPN6AH2NJx7nOWPTf1/78hoqgxhzw3ZqYG1Dr/9ur3y8vMxgNZhcAUnR4xKgAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
    min-width: 58px;
  }
  body widget[type=ticket] .bottom .buy {
    display: block;
    font-size: 12px;
    font-weight: bold;
    background-color: #5d9cec;
    padding: 0 18px;
    line-height: 30px;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
  }
  body widget[type=ticket] .rip {
    height: 20px;
    margin: 0 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
    background-size: 4px 2px;
    background-repeat: repeat-x;
    background-position: center;
    position: relative;
    box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
  }
  body widget[type=ticket] .rip:before, body widget[type=ticket] .rip:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 5px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    border-radius: 100%;
    pointer-events: none;
  }
  body widget[type=ticket] .rip:before {
    left: -10px;
  }
  body widget[type=ticket] .rip:after {
    transform: translate(-50%, -50%) rotate(225deg);
    right: -40px;
  }
  body widget .-bold {
    font-weight: bold;
  }
.summaary_cart_con
{
    background-color:grey;
    width:90%;
    margin: 0 auto;
    border:2px  solid #000;
    border-radius:4px;
}
.shoping_cart
{
    display:flex;
    justify-content:space-between;
    padding:5px 10px;
    background-color:#ffe200;
}
.shoping_cart_head
{
    display:flex;
    background-color:#fff;
}
.nodata_found .No_found
{
width:100%;
    padding: 25px 0px;
}
.delete_icon
{
    font-size: 15px;
}
.shoping_c_left
{
    width:85%;
}
.shoping_cart .sc_del
{
    padding-left:5px;
}
.sc_name
{
    width:45%;
}
/*.sc_type*/
/*{*/
/*    width:15%;*/
/*}*/
.sc_series
{
    width:20%;
}
.sc_amount
{
    width:20%;
}
.sc_del
{
    width:22%;
    text-align:center;
}
.shoping_cart_head div
{
    text-align:center;
    border:2px solid #000;
    border-left: none;
    border-bottom:none;
    padding:8px 5px;
    font-size: 10px;
}
.shoping_cart_head div:last-child {
    border-right: none;
}
.black_bg
{
    color: #ffe200;
    background:#000;
}
.hamburger i
{
    font-size: 24px;
    color:#000;
}
.hamburger
{
    padding-right: 15px;
}


.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: -100%;
background: #fff;
    overflow-x: hidden;
    transition: 0.2s;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    background-blend-mode: overlay;
    max-width: 420px;
    transition: 1s;
}

.overlay.open {
    left: 0;
}

.overlay .header {

        background: #ffe000;
        backdrop-filter: blur(35px);
        -webkit-backdrop-filter: blur(35px);
        padding: 13px 16px;
        border-bottom: 1px solid transparent;
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        gap: 8px;
        position: sticky;
        top: 0px;
        z-index: 1;
        justify-content: space-between;
    }

.sidebar_maincon {
    background-color: transparent;
    margin: 16px 4px 22px 4px;
}
.sidebar_footer {
    background-color: transparent;
    margin: 0px 2px 24px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card_list_ul
{
    list-style-type: none;
}

.sb_card_inner
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    font-size: 13px;
    color: #000;
}
.card_list_li
{
    padding: 10px;
    border-bottom: 1px solid #9e9e9e;
    cursor: pointer;
}

.overlay .card-content
{
   width:100%;
}
.sc_del.editicon a
{
    color:#000;
}
.admin_panel_pt .create_tic_btn
{
    display: flex;
    justify-content: right;
    align-items:center ;
    margin: 0px 18xpx;

}
.admin_panel_pt .create_tic_btn a
{

    background: #ffe200;;
    color: #000;
    padding: 5px 10px;
    max-width: 180px;
    margin: 0 auto;
    border-radius: 4px;
    margin: 0px 20px 10px 0px;
    font-size: 10px;
}
.admin_panel_pt .sc_name
{
width:30%;
}
.admin_panel_pt .sc_series
{
    width:40%;
}
.admin_panel_pt .sc_amou
{
    width:10%;
}
.admin_panel_pt .sc_del
{
    width:20%;
}
.admin_panel_edittic .tic_details_con
{
    flex-direction: column;
}
.admin_panel_edittic .col_md_12
{
width:100%;
}
.admin_panel_edittic .ticdet_p
{
    text-align: left;

}
.admin_panel_edittic .next_btn button
{
    margin-top: 20px;
    background: #ffe200;
    color: #000;
    border: none;
    font-size: 15px;
}

.card_det_text
{
font-size: 17px;
}

.accordion {
    max-width: 100%;
    margin: 10px 0 0;
    max-height: 69vh;
    overflow-y: scroll;
}

.at-tab {
    display: none;
    padding: 15px;
    border: 1px solid #dddddd;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fffa90;
    margin: 0px 10px 10px 10px;
    border-radius: 0px 0px 8px 8px;
}

.at-title {
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

/*.at-title:hover {*/
/*    background-color: #e0e0e0;*/
/*}*/

.at-title:after {
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: all 0.3s ease;
    font-size: 24px;
}

.at-title.active:after {
    content: "-";
}

.at-item {
    border-radius: 5px;
    margin-bottom: 7px;
}

.at-title h2 {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 15px;
    margin: 0;
}

.accordion-header {
    text-align: center;
    background-color: #222222;
    color: white;
    padding: 20px 0;
}
.order_hs_sec .order_hs_innersec
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px 10px 15px;
    background: #ffe000;
    margin: 0px 10px;
}
.oh_ticknumber
{
font-size: 15px;
}
.status
{
    font-size: 12px;
}
.success
{
    color:green;
}

.pending
{
    color:yellow;
}

.cancel
{
    color:red;
}
.at-tab .acc_or_con
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}
.acc_or_con .acc_col_4
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:50%;
    margin-bottom: 10px;
    flex-direction: column;
}
.overlay .header p{
font-size: 17px;
}
.ord_his_acc_rk label
{
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.ord_his_acc_rk span
{
    color: #000;
    font-size: 14px;
}
.order_his_filter_sec
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    gap: 10px;
    margin: 0 auto;

}
.ohf_div
{
width: 40%;
}
.order_his_filter_sec .exp_con
{
    width: 20%;
}
.ohf_div input
{
width: 100%;
padding: 2px 2px;
font-size: 12px;
}
.export_btn
{
    padding: 7px 17px;
    background: #ffe200;
    border: none;
    font-size: 11px;
}
.tic_con_rk
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    width: 92%;
    margin: 0 auto 10px auto;
}
.wid_50{
width: 48%;
background-color: #ffe200;
min-height: 90px;
border-radius: 6px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.home_tic_lbl
{
font-size: 12px;
}
.home_tic_det
{
font-size: 20px;
}
.recent_orders
{
    font-size: 20px;
    text-align: left;
    padding-bottom:10px;
    padding-left: 18px;
}

.or_hs_no{
    width: 90%;
    margin: 30px auto 0px;
    height: 250px;
    background-color: #fffa90;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or_hs_no_home{
    width: 90%;
    margin: 5px auto 0px;
    height: 250px;
    background-color: #fffa90;
    display: flex;
    justify-content: center;
    align-items: center;
}
